body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 700px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

h1, h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea, button {
    padding: 10px;
    font-size: 16px;
}

button{
    background-color: darkslateblue;
    color: white;
    border: 0;
}

button {
    cursor: pointer;
}

.tarefa {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
    background: #9b9b9b;
}